.index {
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bg {
  background-image: url('http://ww1.sinaimg.cn/large/006tNc79gy1g64t6c2vwuj30lq17c7e6.jpg');
  background-color: #867575;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  filter: blur(5px) brightness(40%);
  z-index: -1;
  transform: scale(1.1);
}

.hint {
  z-index: 10;
  margin-bottom: 1.5rem;
  color: white;
}