@import '../../assets/css/perspectiveChange';

.image-picker {
  border: 0.4rem dashed pink;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.picker-icon {
  width: 60%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  flex: 2;
  justify-content: center;
}

.hint {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 700;
  color: black;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loading-area {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 1.5rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
}

.origin-image {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  border: 0.2rem solid white;
  border-radius: 0.5rem;
  width: 2rem;
  height: 2rem;
  margin-top: 1rem;
}

.loading-area .hint {
  margin-top: 1rem;
  color: white;
}

@keyframes spin {
  40% {
    -webkit-transform: rotate(180deg);
    transform:rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform:rotate(360deg);
  }
}

.loadding {
  animation: spin 2s infinite;
}

.result-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

.result-image {
  width: 100%;
  // box-sizing: border-box;
  border-radius: 0.5rem;
}

.share-result-button {
  border-radius: 0.5rem;
  box-sizing: border-box;
  border: 0.2rem dashed pink;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  margin-top: 1rem;
}

.share-result-button::after {
  border: none;
}
