.index {
  width: 100vw;
  height: 100vh;
  // overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bg {
  background-image: url('http://ww1.sinaimg.cn/large/006tNc79gy1g64t6c2vwuj30lq17c7e6.jpg');
  background-color: #867575;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  filter: blur(5px) brightness(40%);
  z-index: -1;
  transform: scale(1.1);
}

.main {
  margin-left: 10vw;
  margin-right: 10vw;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.share-canvas {
  width: 80vw;
  height: 105vw;
  transition: .5s;
}

.save-button {
  border-radius: 0.5rem;
  box-sizing: border-box;
  background: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  margin-top: 2rem;
}

.save-button::after {
  border: none;
}

.sk-folding-cube {
  margin: 20px auto;
  width: 2rem;
  height: 2rem;
  position: relative;
  transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
  background-color: rgb(255, 255, 255);
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
  transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading-text {
  color: white;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1rem;
}
